.Login{
    position: relative;
    background: url(../../assets/images/roses_bg.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.mainTitle {
    position: absolute;
    width: 289px;
    height: 54px;
    left: 64px;
    top: 39px;
    font-weight: 800;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */
    color: #FFFFFF;
    
}

.inputForm{
    position: absolute;
    width: 46vw;
    height: 60vh;
    left: 47vw;
    top: 40vh;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 50px;
    padding-bottom: 10px;
    background: #FFFFFF;
    border-top-left-radius: 61px;
    border-top-right-radius: 61px;
}

.inputForm h1{
    top: 256px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #EB2536;
    text-align: left;
    padding-left: 5%;
}

.inputEntry{
    margin-top: 2vh;
    display: inline-block;
    margin-right: auto;
    margin-bottom: auto;
    width: 35vw;
}

.checkBox{
    position: absolute;
    left: 13%;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
}

.forgotTxt{
    text-decoration: none;
    color: #EB2536;
    padding-left: 60%;
}

.loginBtn{
    margin-top: 6vh;
    background: #EB2536;
    border-radius: 18px;
    width: 35vw;
    height: 9vh;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 45px;
}

@media(max-width: 768px){
    .forgotTxt{
        position: absolute;
        top: 27vh;
        right: 45%;
        clear: both;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        margin-top: 5px; 
    }
}

@media (min-width: 1440px){
    .inputForm h1{
        padding-left: 9%;
    }  
}