.Login{
    position: relative;
    background: url(../../assets/images/roses_bg.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.mainTitle {
    position: absolute;
    width: 289px;
    height: 54px;
    left: 64px;
    top: 39px;
    font-weight: 800;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
    
}

.inputForm{
    position: absolute;
    width: 40vw;
    height: 57vh;
    left: 47vw;
    top: 40vh;
    padding-top: 35px;
    padding-left: 40px;
    padding-right: 100px;
    background: #FFFFFF;
}

.inputForm h1{
    top: 256px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #EB2536;
    
}

.inputEntry{
    margin-top: 2vh;
    display: inline-block;
    margin-right: auto;
    margin-bottom: auto;
    width: 35vw;
}

.checkBox{
    position: absolute;
    left: 13%;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
}

.forgotTxt{
    text-decoration: none;
    color: #EB2536;
}


@media (min-width: 1440px){
    .inputForm h1{
        padding-left: 24%;
    }  
    .inputForm{
        width: 35vw;
        left: 50vw;
        padding-left: 0px;
        padding-top: 60px;
    }    
}