.Signup{
    position: relative;
    background: url(../../assets/images/roses_bg.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.mainTitle {
    position: absolute;
    width: 289px;
    height: 54px;
    left: 64px;
    top: 39px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */
    color: #FFFFFF;
    
}

.inputForm{
    position: absolute;
    width: 46vw;
    height: 84vh;
    left: 47vw;
    top: 16vh;
    padding-top: 50px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 10px;
    background: #FFFFFF;
    border-top-left-radius: 61px;
    border-top-right-radius: 61px;
    font-family: 'Poppins', sans-serif;
}

.inputForm h1{
    
    padding-right: 140px;
    top: 256px;
    display: inline;
    font-family:  'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height left: 740px;*/
    color: #EB2536;
}

.inputEntry{
    border: none;
	border-bottom: 1px solid #1F2526;
	outline: none;
	height: 48px;
    font-size: 16px;
    border-radius: 0px;
}

.checkBox{
    padding-left:100px;
    display: inline;
    left: -12vw;
    padding-top: 15vh;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
}

.signupBtn{
    margin-top: 6vh;
   
    background: #EB2536;
    border-radius: 18px;
    width: 35vw;
    height: 9vh;
    font-family:'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 45px;

}

