.Agents{
    padding-top: 5vh;
}

.spaceAlign{
    margin-right: 100px;
}

.Table{
    min-width: 76vw;
    display: inline-block;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 20px;
}          