.Products{
    padding-top: 5vh;
}

.spaceAlign{
    margin-right: 50vw;
    margin-left: 50px;
}

.Table{
    min-width: 76vw;
    display: inline-block;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 20px;
}  

.Entries{
    margin-bottom: 7px;
}        